[Desktop Entry]
Type=Application
Name=Maze Welcome
GenericName=Welcome
Comment=Get started with Maze Linux
Exec=/usr/local/bin/maze-welcome
Icon=/usr/share/pixmaps/maze-simple-logo.png
Terminal=false
Categories=System;Utility;
Keywords=welcome;maze;getting started;help;
StartupNotify=true
StartupWMClass=maze-welcome
