[Desktop Entry]
Type=Application
Name=Maze Control Center
GenericName=Control Center
Comment=Check your security, privacy, AI and system status
Exec=/usr/local/bin/maze-control-center
Icon=/usr/share/pixmaps/maze-simple-logo.png
Terminal=false
Categories=System;Settings;Security;
Keywords=control;center;maze;security;privacy;status;dashboard;
StartupNotify=true
StartupWMClass=maze-control-center
